<h2>Insert:</h2>
<%+ './example.md', 'markdown' %>

<h2>Insert URL:</h2>
<pre><%+ 'https://raw.githubusercontent.com/tliron/go-scriptlet/main/.gitignore' %></pre>

<h2>Insert and render URL:</h2>
<%+ 'https://raw.githubusercontent.com/tliron/go-scriptlet/main/examples/example.md', 'markdown' %>
