<pre>
No newline between <% this.write('this'); %>
 and <% this.write('that'); %>
 in this line

Newline between <% this.write('this'); /%>
and <% this.write('that'); /%>

Newline between <%= 'this expression' %>
 and <%= 'that expression' %>
 in this line
</pre>
