<p>Here is some rendered Markdown.</p>
<% this.variables.name = 'Linus'; %>
<%^ 'markdown' %>
This is Markdown
================

Hello, <%== 'name' %>!

It is a *markup* language for generating HTML.
<%^^%>
